**Found this data on this website https://huggingface.co/datasets/okite97/news-data/viewer/default/train?p=1**

In [8]:
import pandas as pd

splits = {'train': 'train.csv', 'test': 'test.csv'}
df = pd.read_csv("hf://datasets/okite97/news-data/" + splits["train"])

c:\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
df.head()

,Title,Excerpt,Category
0,"Uefa Opens Proceedings against Barcelona, Juve...",Uefa has opened disciplinary proceedings again...,sports
1,Amazon Blames Inflation as It Increases Cost o...,The increases are steeper than the 17 percent ...,business
2,Nigeria’s Parliament Passes Amended Electoral ...,Nigeria's Senate on Tuesday passed the harmoni...,politics
3,Nigeria: Lagos Governor Tests Positive for Cov...,"The Lagos State Governor, Mr. Babajide Sanwo-O...",health
4,South Africa Calls For Calm as Electoral Refor...,South Africa has raised concerns about the det...,politics

In [11]:
##keeping only sports and politics 
df= df[df['Category'].isin(['sports','politics'])].reset_index(drop=True)

In [12]:
print(df['Category'].value_counts())

Category
sports      1124
politics    1073
Name: count, dtype: int64

In [13]:
df.head()

,Title,Excerpt,Category
0,"Uefa Opens Proceedings against Barcelona, Juve...",Uefa has opened disciplinary proceedings again...,sports
1,Nigeria’s Parliament Passes Amended Electoral ...,Nigeria's Senate on Tuesday passed the harmoni...,politics
2,South Africa Calls For Calm as Electoral Refor...,South Africa has raised concerns about the det...,politics
3,Guardiola To Leave Man City When Contract Expi...,Pep Guardiola has said that he will leave Manc...,sports
4,Nigeria: Sultan of Sokoto Seeks Removal of Imm...,The Sultan of Sokoto and President-General of ...,politics

In [ ]:
#merging Title and excerpt column into a single column named text
df['Text'] = df['Title'] + " " + df['Excerpt']
df = df[['Text', 'Category']]

In [17]:
df.head()

                                                Text  Category
0  Uefa Opens Proceedings against Barcelona, Juve...    sports
1  Nigeria’s Parliament Passes Amended Electoral ...  politics
2  South Africa Calls For Calm as Electoral Refor...  politics
3  Guardiola To Leave Man City When Contract Expi...    sports
4  Nigeria: Sultan of Sokoto Seeks Removal of Imm...  politics

In [ ]:
import re

#we clean text by removing punctuations or numbers
def clean_text(text):
    text= text.lower()
    text= re.sub(r'[^a-z\s]', '', text)
    text = re.sub(r'\s+', ' ',text).strip()
    return text
df['Text']= df['Text'].apply(clean_text)

In [20]:
##encoding the labels to numeric values
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
df['label']= encoder.fit_transform(df['Category'])

In [21]:
df.head()

                                                Text  Category  label
0  uefa opens proceedings against barcelona juven...    sports      1
1  nigerias parliament passes amended electoral b...  politics      0
2  south africa calls for calm as electoral refor...  politics      0
3  guardiola to leave man city when contract expi...    sports      1
4  nigeria sultan of sokoto seeks removal of immu...  politics      0

In [ ]:
# saving to a csv file nmed cleaned_data so we can use it to train models
df.to_csv("cleaned_data.csv",index= False)